body {
    background-color: #55cca2;
}

div, input, textarea {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

form {
    padding: 3%;
    background-color: white;
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}

.main-form {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
}

.main p {
    font-size: 25px;
    margin-bottom: 10px;
}

.btn {
    background-color: #55cca2;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}
