body {
    background-color: #D00027;
    margin: 5% 20% 5% 20%;
}

#title {
    text-align: center;
    text-shadow: 7px 7px 10px black;
    font-size: 7vh;
    color: white;
}

#image {
    width: 80%;
    margin: auto;
}

img {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

}

h1.title-virgil {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px #FDF667;
}

#caption {
    font-size: 17px;
    font-family: Georgia;
    color: black;
}

#tribute-data {
    background-color: #BB0023;
    box-shadow: 10px 10px 10px white;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}

.more-info a{
    text-decoration-line: none;
    color: #FDF667;
}

